export BBL_IAAS=gcp
export BBL_ENV_NAME=basel-2018-shared
export BBL_GCP_SERVICE_ACCOUNT_KEY="bucc-shared.key.json"
export BBL_GCP_REGION="europe-west3"

eval "$(bbl print-env)"
eval "$(bucc/bin/bucc env)"
